$clsPrefix: demo2221;
$color-dark-0: #001529;
$theme-color: #006aff;
$color-light-gray: #f9f9f9;

$sideLogoHeight: 60px;
$menuSideWidth: 200px;
$menuSideFoldWidth: 64px;

$_5px: 5px;

:root {
  --size-10: 10px;
  --size-12: 12px;
  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-22: 22px;
  --size-24: 24px;
  --size-30: 30px;

  --space-5: 5px;
  --space-6: 6px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-20: 20px;

  --color-primary-0: #006aff; //#639;
  --color-primary-1: #4c1f78;
  --color-black: #000;
  --color-dark-0: #001529;
  --color-dark-1: rgba(0, 0, 0, 0.85);
  --color-white: #fff;
  --color-transparent: transparent;
  --color-light-gray: #f9f9f9;
  --color-lighten-gray: #dadada;
  --color-default-gray: #aaa;
  --color-dark-gray: #888;
  --color-highlight: red;
}
